---

---
<section>
    <a href="/Merry-Cobbler-Project/" class="back-button">Back to Main Page</a>
    <div class="container">
        <div class="card mb-3">
            <h1 class="card-title mt-4 mb-3">A BRIEF HISTORY</h1>
            <img src="/Merry-Cobbler-Project/img/front.jpg" class="card-img-top" alt="picture of the pub on black and white ">
        <div class="card-body">
            <p class="card-text">Irishtown and Ringsend have I for centuries been steeped in the social, cultural and political history of Dublin. The origin of the name Irishtown dates back to the early
            Norman settlers when Richard De Clare, Earl of Pembroke, ordered the native Irish out of the city of Dublin. They were settled in South East Dublin in a region that became known as Irishtown, an area that was then
            substantially larger than today. The native Irish were permitted only to visit the city during daylight hours where they were required as labourers or trades people in providing whatever services their
            Norman masters found useful.</p>
            <p><b>Inns</b></p>
            <p>From late medieval times this area has enjoyed a rich history of ale houses, taverns and inns. On the site of The Merry Cobbler stood a very famous old inn named The Conniving House run by a charismatic publican named Jack Macklean, "noted for its dinners of fish and excellent ales."</p>
            <p><b>First Licence</b></p>
            <p>There has been a continuous licence on this site since May 1853 when Joseph Molphy opened a seafood tavern here. There was much local opposition from the ruling classes because of the proximity of St. Mathew's Church of Ireland.
                In 1858 Joseph McCullagh took over and greatly expanded the seafood fare in addition to building a strong reputation for fine ales.
                In 1866 the name seen above the door here was Hodges Tavern in what was then known as Mountain View, Irishtown. George Hodges was an enigmatic publican who liked to have a finger in a number of pies but appears to have had those fingers burned on occasion.
                Within two years George was gone and much respected Dublin publican William Camac was pulling the pints here at what was then no. 72 Irishtown. Camac had his own tokens engraved with the initials W.C. that were used for bagatelle and also for the purchase of ale.</p>
            <p><b>The Arrival of the D.M.P.</b></p>
            <p>Within three years of William Camacarriving here the 'EDivision of the Dublin Metropolitan Police moved in no. 68 Irishtown Road, (now no. 76.) William Camac may have entertained mixed feelings about this development, as the presence of officious and vigilant policemen was not good for business. On the other hand their very presence discouraged
                a certain undesirable clientele from seeking admission to this house. In the years ahead this relationship between pub and police station would form a large part of the social narrative of Irishtown, not alone this pub.
            William Camac passed away in 1875, an event that necessitated his wife to get involved in running the pub. But while many women were not suited to the cut and thrust of pub ownership, the Widow Camac took to it like a duck to water.</p> 
            <img src="/Merry-Cobbler-Project/img/ringsend.jpeg" class="card-img-top" alt="Ringsend in 1980">
        <div class="card-body">
            <p><b>The Widow Camac Moves On</b></p>
            <p>For sixteen years the Widow Camac ran the show here and regularly argued the toss on licensing matters with members of the DMP who frequently risked the danger of becoming her best customers. In that era a transfer to the barracks in Irishtown was viewed as a form of punishment and discipline within the DMP, usually as a consequence of serving members having too strong an affinity with alcohol.</p>
            <p><b>The Murtagh Legacy</b></p>
            <p>James Murtagh succeeded the Widow. Murtagh was a hard working, enterprising publican who was here for the long haul. He steadily increased his business here completing
                Victorian renovation in the 1890s, which won the favour of the large numbers of city residents who descended on Irishtown each summer for its renowned sea bathing. Hot and cold salt-water baths were just a stone's throw away and the Dublin Tram service to Sackville Street operated every 20 minutes.</p>
            <p><b>The Thirsty Constabulary</b></p>
            <p>Despite the admonishments of superior officers, the constables who at that time resided in the barracks had their own code for gaining entrance to the pub.
                Constable 'Slugger' O'Toole in particular had a real affinity with the pub and entered local folklore for his drinking exploits.</p>
            <p><b>The 20th Century in Irishtown</b></p>
            <p>In 1907 things were going so well that Murtagh bought out his local competitor at no. 74, Joseph Lenehan, Grocer and
                Spirit Dealer. The numbering sequence along Irishtown Road had now changed to what it is today. Nos 78 and 80, next to Murtagh's, were then occupied by a greengrocer and a victualler. In 1932, after 40 years at the coalface of customer care, James Murtagh upped sticks and sold out to John Clarke in the winter of 1932. The Clarke family would remain in Irishtown for 80 years. In 2016 the Stafford family purchased
                the property, renaming it, The Merry Cobbler in honour of the old tradition of 'waxies' or shoemakers holidaying in Irishtown while also acknowledging its
                sister pub Merry's in Dungarvan, Co. Waterford. After significant refurbishment The Merry Cobbler continues the tradition of fine-food and excellent ales served on these premises since 1853.</p>
                </div>
            </div>
         </div>
    </div>
</div>
</section>



<style>

.back-button {
    position: absolute;
    text-align: end;
    right: 20px;
    margin-top: 10px;
    background-color: rgba(20,22,41,1);
    color: #fff;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Prosto One", sans-serif;
    z-index: 1000;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.back-button:hover {
    background-color: #b3a116;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #f7f3ec;
    line-height: 1.7;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.card {
    border: none;
    border-radius: 1rem;
    text-align: center;
}


h1 {
    color:#333;
    font-size: 2.2rem;
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-bottom: 2rem;

}

p, h2 {
    color:#333;
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    text-align: justify;

}

.card-img-top{
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    border: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 2rem auto;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1);

}

</style>
