---
import Layout from "../layouts/Layout.astro"
import Location from "../components/Location.astro"
import Footer from "../components/Footer.astro"
---

<section>
    <Layout title="Rooms">
        <a href="/Merry-Cobbler-Project/" class="back-button">Back to Main Page</a>
    <div class="container-fluid">
    <div class="row justify-content-center m-0">
        <div class="col ps-5">
    <div class="card" style="width: 28rem;">
        <img src="/Merry-Cobbler-Project/img/deluxe.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Deluxe Double Room</h5>
            <p class="card-text">1 double bed</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Landmark view</li>
            <li class="list-group-item">Private bathroom</li>
            <li class="list-group-item">Flat-screen TV</li>
            <li class="list-group-item">Free WiFi</li>
        </ul>
        <div class="card-body">
            <a href="https://www.booking.com/hotel/ie/the-merry-cobbler.en-gb.html?aid=304142&label=gen173nr-1FCAEoggI46AdIM1gEaGmIAQGYAQm4AQfIAQ3YAQHoAQH4AQyIAgGoAgO4AqG94cIGwAIB0gIkMzg2N2I2YzUtZjc0OS00MDU5LWIxMGEtMTVlZjFlOGQwNDQx2AIG4AIB&sid=ac59de9cad8fa7e5a9bbb9d6f3141543&all_sr_blocks=1440256602_415490501_2_0_0&checkin=2025-07-10&checkout=2025-07-18&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=1440256602_415490501_2_0_0&hpos=1&matching_block_id=1440256602_415490501_2_0_0&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&show_room=1440256602&sr_order=popularity&sr_pri_blocks=1440256602_415490501_2_0_0__100300&srepoch=1750621871&srpvid=4a348b9581a3233c&type=total&ucfs=1&activeTab=main" class="card-link">Reserve</a>
     </div>
    </div>
</div>
    <div class="col ps-5">
     <div class="card" style="width: 28rem;">
        <img src="/Merry-Cobbler-Project/img/double.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Double Room</h5>
            <p class="card-text">1 double bed</p>
    </div>
    <ul class="list-group list-group-flush">
            <li class="list-group-item">Private bathroom</li>
            <li class="list-group-item">Flat-screen TV</li>
            <li class="list-group-item">Free WiFi</li>
    </ul>
    <div class="card-body">
            <a href="https://www.booking.com/hotel/ie/the-merry-cobbler.en-gb.html?aid=304142&label=gen173nr-1FCAEoggI46AdIM1gEaGmIAQGYAQm4AQfIAQ3YAQHoAQH4AQyIAgGoAgO4AqG94cIGwAIB0gIkMzg2N2I2YzUtZjc0OS00MDU5LWIxMGEtMTVlZjFlOGQwNDQx2AIG4AIB&sid=ac59de9cad8fa7e5a9bbb9d6f3141543&all_sr_blocks=1440256602_415490501_2_0_0&checkin=2025-07-10&checkout=2025-07-18&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=1440256602_415490501_2_0_0&hpos=1&matching_block_id=1440256602_415490501_2_0_0&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&show_room=1440256602&sr_order=popularity&sr_pri_blocks=1440256602_415490501_2_0_0__100300&srepoch=1750621871&srpvid=4a348b9581a3233c&type=total&ucfs=1&activeTab=main" class="card-link">Reserve</a>
     </div>
    </div>
    </div>
    </div>
    </div>
    <Location/>
    <Footer/>
    </Layout>
</section>

<style>
    .back-button {
        position: absolute;
        right: 20px;
        margin-top: 10px;
        background-color: rgba(20,22,41,1);
        color: #fff;
        padding: 10px 16px;
        border-radius: 6px;
        text-decoration: none;
        font-size: 1rem;
        font-family: "Prosto One", sans-serif;
        z-index: 1000;
        box-shadow:0 4px 10px rgba(0,0,0,0.2);
    }

    .back-button:hover {
        background-color: #b3a116;
    }

    .col {
        justify-items: center;
        margin-top: 80px;
    }

    h5, p, li, a {
        font-size: 1.3rem;
        font-family: "Prosto One", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: rgba(20,22,41,255);
    }

    p {
        font-size: 1rem;
    }

    li {
        font-size: 0.8rem;
    }

    a {
        font-size: 0.8rem;
    }

    .card-link, .card-img-top {
         box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

</style>