<div class="container-fluid p-0">
    <div class="row h-100 d-flex align-items-center">
        <div class="col-sm-6 mt-2 p-0 text-center">
              <img src="/img/logo.png" class="pub-logo" alt="merry cobbler logo">
          </div>
        <div class="col-sm-3 text-center">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Opening Hours</h1><br>
                <p class="card-text">Mon-Thu - 12h to 11h30pm</p>
                <p class="card-text">Fri & Sat - 12h to 0h30</p>
                <p class="card-text">Sun - 12h30 to 11h30pm</p>
              </div>
            </div>
        </div>
            <div class="col-sm-3 text-center">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title">Contact</h1><br>
                    <p class="card-text">(01) 231 3786</p>
                    <p class="card-text">Instagram</p>
                    <p class="card-text">78-80 Iristown Road, D4</p>
                </div>
            </div>
          </div>
      </div>
</div>

<style>

    .container-fluid {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }



    .row {
        background-color: rgba(20,22,41,255);
        display: flex;
        text-align:center;
        padding: 0;
        margin: 0;
      
    
        }

    .card {
        background-color: rgba(20,22,41,255);
       
    }

    .pub-logo {
        width: 20%;
        height:auto;
        align-items: center;
    }

    .card-body {
        
        justify-items: center;
        margin-top: 15%;
        margin-bottom: 15%;
        
    }


    h1 {
        color: #ffffff;
        font-size: 1.6rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;


    }


    p {
        color: #ffffff;
        font-size: 1.2rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 200;
        font-style: normal;
    }


</style>