---

---
<section>
    <div class="container">
    <div class="main-title text-center">
        <h1>Eat, Drink & Be Merry</h1>
        </div>
    <div class="row g-2 justify-content-center">
        <div class="col-6 col-md-4 col-lg-2">
            <img src="img/drinks1.jpeg" class="card-img-top img-fluid" alt="drinks1 image">
    </div>
        <div class="col-6 col-md-4 col-lg-2">
        <img src="img/chickenpie.jpeg" class="card-img-top img-fluid" alt="chickenpie image">
    </div>
         <div class="col-6 col-md-4 col-lg-2">
         <img src="img/ribs1.jpeg" class="card-img-top img-fluid" alt="ribs1 image">
    </div>
        <div class="col-6 col-md-4 col-lg-2">
        <img src="img/parmaham.jpeg" class="card-img-top img-fluid" alt="parmaham image">
    </div>
        <div class="col-6 col-md-4 col-lg-2">
        <img src="img/beers.jpg" class="card-img-top img-fluid" alt="image of a pint of heineken and guinness">
    </div>
        <div class="col-6 col-md-4 col-lg-2">
        <img src="img/beers.jpg" class="card-img-top img-fluid" alt="image of a pint of heineken and guinness">
    </div>
        <div class="col-6 col-md-4 col-lg-2">
        <img src="img/guinness.jpg" class="card-img-top img-fluid" alt="image of a pint of guinness">
    </div>
        <div class="col-6 col-md-4 col-lg-2">
        <img src="img/brunch1.jpeg" class="card-img-top img-fluid" alt="brunch1 image">
    </div>
         <div class="col-6 col-md-4 col-lg-2">
         <img src="img/chickenburger.png" class="card-img-top img-fluid" alt="image of a chicken burger">
    </div>
        <div class="col-6 col-md-4 col-lg-2">
        <img src="img/breakie.jpg" class="card-img-top img-fluid" alt="breakfast image">
    </div>
        <div class="col-6 col-md-4 col-lg-2">
        <img src="img/wine.jpg" class="card-img-top img-fluid" alt="red wine image">
    </div>
    <div class="col-6 col-md-4 col-lg-2">
        <img src="img/beers.jpg" class="card-img-top img-fluid" alt="image of a pint of heineken and guinness">
    </div>
    </div>
</section>

<style>

    .container-fluid {
        background-color: rgb(253, 253, 255);
        text-align: center;
        padding: 0;
        margin-bottom:170px;

       
    }

    .row {
        text-align: center;
        border: none;
        
    }

    h1 {
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 3rem;
        font-family: "Prosto One", sans-serif;
        font-weight: 600;
        font-style: normal;
        color:#05010c;
    }

    .card {
        border: none;
        padding: 0;
        margin: 0;
        background-color:rgb(0, 0, 0); ;
    }

    @media screen and (max-width: 700px){
    .row {
        flex-direction:row;
        align-items: center;
    }

    }


</style>