---

---
    <div class="container-fluid p-0">
        <div class="card text-bg-dark">
            <img src="img/front.jpg" class="card-img img-fluid w-100" alt="image of the merry cobbler">
            <div class="card-img-overlay overlay-dark d-flex flex-column align-items-center">
                <img src="img/logo.png" class="overlay-logo" alt="logo">
                <div class="mainpage-title">
                    <h1>The Merry Cobbler</h1>
                    <h2>GastroPub</h2>
              </div>
          </div>
    </div>
</div>

   
<style>


    .img-fluid {
        height: 100vh;
        max-width: 100%;
        object-fit: cover;
    }

    .overlay-dark {
        background-color: rgba(0, 0, 0, 0.8);
        
    }

    .overlay-logo {
        width: 170px;
        margin-top: 190px;
        padding: 0;
        
    }

    .mainpage-title {
       margin-top: 40px;

    }


    h1 {
        font-size: 7rem;
        text-align: center;
        justify-content: center;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-shadow: rgb(57, 47, 8) 1px 0 10px;
        
        
    }
    
    h2 {
        font-size: 3.5rem;
        text-align: center;
        justify-content: center;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    :root {
        --bs-border-radius:0rem;
    }

    @media screen and (max-width:768px) {

        .img-fluid {
         height: 50vh;
        object-fit: cover;
        }

        .overlay-logo {
         margin-top: 100px;
         width: 60px;
        }

         .mainpage-title {
         margin-top: 20px; 
         }

        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width:425px){
        h1 {
            font-size: 1.8rem;
        }
        h2 {
            font-size: 1.2rem;
        }

    }
    
    </style>