---

---
<section>
<div class="container mt-5">
    <div class="row">
      <div class="col-4 align-self-start">
        <h1>A Brief History</h1>
        <p>Irishtown and Ringsend have I for centuries been steeped in the social, cultural and political history of Dublin. The origin of the name Irishtown dates back to the early
            Norman settlers when Richard De Clare, Earl of Pembroke, ordered the native Irish out of the city of Dublin. They were settled in South East Dublin in a region that became known as Irishtown, an area that was then
            substantially larger than today. The native Irish were permitted only to visit the city during daylight hours where they were required as labourers or trades people in providing whatever services their
            Norman masters found useful.</p>
            <img src="/public/img/b&w.jpeg" class="img-fluid rounded-start" alt="...">
        <h3>Inns</h3>
        <p>From late medieval times this area has enjoyed a rich history of ale houses, taverns and inns. On the site of The Merry Cobbler stood a very famous old inn named The Conniving House run by a charismatic publican named Jack Macklean, "noted for its dinners of fish and excellent ales."</p>
      </div>
      <div class="col-4 align-self-center">
        <h3>First Licence</h3>
        <p>There has been a continuous licence on this site since May 1853 when Joseph Molphy opened a seafood tavern here. There was much local opposition from the ruling classes because of the proximity of St. Mathew's Church of Ireland.
            In 1858 Joseph McCullagh took over and greatly expanded the seafood fare in addition to building a strong reputation for fine ales.
            In 1866 the name seen above the door here was Hodges Tavern in what was then known as Mountain View, Irishtown. George Hodges was an enigmatic publican who liked to have a finger in a number of pies but appears to have had those fingers burned on occasion.
            Within two years George was gone and much respected Dublin publican William Camac was pulling the pints here at what was then no. 72 Irishtown. Camac had his own tokens engraved with the initials W.C. that were used for bagatelle and also for the purchase of ale.</p>
      </div>
      <div class="col-4 align-self-end">
        <h3>The Arrival of the D.M.P.</h3> 
        <p>Within three years of William Camacarriving here the 'EDivision of the Dublin Metropolitan Police moved in no. 68 Irishtown Road, (now no. 76.) William Camac may have entertained mixed feelings about this development, as the presence of officious and vigilant policemen was not good for business. On the other hand their very presence discouraged
            a certain undesirable clientele from seeking admission to this house. In the years ahead this relationship between pub and police station would form a large part of the social narrative of Irishtown, not alone this pub.
            William Camac passed away in 1875, an event that necessitated his wife to get involved in running the pub. But while many women were not suited to the cut and thrust of pub ownership, the Widow Camac took to it like a duck to water.</p>
      </div>
    </div>
</div>
</section>
    
<section>
      <div class="container mt-5">
      <div class="row">
      <div class="col-4 align-self-start">
        <h3>The Widow Camac Moves On</h3> 
        <p>For sixteen years the Widow Camac ran the show here and regularly argued the toss on licensing matters with members of the DMP who frequently risked the danger of becoming her best customers. In that era a transfer to the barracks in Irishtown was viewed as a form of punishment and discipline within the DMP, usually as a consequence of serving members having too strong an affinity with alcohol.</p>
      </div>
      <div class="col-4 align-self-center">
        <h3>The Murtagh Legacy</h3> 
        <p>James Murtagh succeeded the Widow. Murtagh was a hard working, enterprising publican who was here for the long haul. He steadily increased his business here completing
            Victorian renovation in the 1890s, which won the favour of the large numbers of city residents who descended on Irishtown each summer for its renowned sea bathing. Hot and cold salt-water baths were just a stone's throw away and the Dublin Tram service to Sackville Street operated every 20 minutes.</p>
      </div>
      <div class="col-4 align-self-end">
        <h3>The Thirsty Constabulary</h3> 
        <p>Despite the admonishments of superior officers, the constables who at that time resided in the barracks had their own code for gaining entrance to the pub.
            Constable 'Slugger' O'Toole in particular had a real affinity with the pub and entered local folklore for his drinking exploits. </p>
      </div>
    </div>
</div>
</section>

<section>
    <div class="container mt-5">
     <div class="row">
        <h3>The 20th Century in Irishtown</h3> 
        <p>In 1907 things were going so well that Murtagh bought out his local competitor at no. 74, Joseph Lenehan, Grocer and
            Spirit Dealer. The numbering sequence along Irishtown Road had now changed to what it is today. Nos 78 and 80, next to Murtagh's, were then occupied by a greengrocer and a victualler. In 1932, after 40 years at the coalface of customer care, James Murtagh upped sticks and sold out to John Clarke in the winter of 1932. The Clarke family would remain in Irishtown for 80 years. In 2016 the Stafford family purchased
            the property, renaming it, The Merry Cobbler in honour of the old tradition of 'waxies' or shoemakers holidaying in Irishtown while also acknowledging its
            sister pub Merry's in Dungarvan, Co. Waterford. After significant refurbishment The Merry Cobbler continues the tradition of fine-food and excellent ales served on these premises since 1853.</p>
      </div>
    </div>
    </div>
  </div>
</section>

<style>
.img-fluid {
    width: 100%;
    padding-left: 0;
}

p {
   text-align: justify;
}

</style>