<section id="location">
<div class="container-fluid p-0">
    <div class="ratio ratio-21x9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d76232.40513342351!2d-6.304960812848709!3d53.33855422014801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x48670ee7b9ceeee3%3A0xf9b86dd897dcedab!2s78-82%2C%2078-82%20Irishtown%20Rd%2C%20Dublin%204!3m2!1d53.338637399999996!2d-6.222625!5e0!3m2!1sen!2sie!4v1733090946458!5m2!1sen!2sie"
    title="location on google maps" loading="lazy"></iframe>
    </div>
</div>
</section>

<style>
    .ratio {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
        border: 2px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        object-fit: cover;
    }

</style>
