<section>
    <div class="container-fluid p-0">
        <figure class="figure">
            <img src="/public/img/lunchmenu.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
          </figure>
</div>
</section>