---

---

<section>
    <div class="container-fluid p-0">
        <div class="card text-bg-dark">
            <img src="/public/img/front.jpeg" class="card-img img-fluid" alt="image of the merry cobbler">
            <div class="card-img-overlay overlay-dark">
                <img src="/public/img/logo.png" class="overlay-logo" alt="logo">
                <div class="mainpage-title">
                    <h1>The Merry Cobbler</h1>
                    <h2>GastroPub</h2>
              </div>
          </div>
    </div>
</div>
</section>
   

<style>

    

    .img-fluid {
        height: 100vh;
        object-fit: cover;
    
    }

    .overlay-dark {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .overlay-logo {
        width: 130px;
        margin-top: 40px;
        margin-left: 40px;
        border: none;
        padding: 0;
        
    }
    .mainpage-title {
       margin-top: 160px;

    }


    h1 {
        font-size: 7rem;
        text-align: center;
        justify-content: center;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-shadow: rgb(57, 47, 8) 1px 0 10px;
        
        
    }
    
    h2 {
        font-size: 3rem;
        text-align: center;
        justify-content: center;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
</style>