<header>
  <section>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto my-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#location">Location</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menus
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Lunch Menu</a></li>
                <li><a class="dropdown-item" href="#">Evening Menu</a></li>
                <li><a class="dropdown-item" href="#">Brunch Menu</a></li>
                <li><a class="dropdown-item" href="#">Sunday Menu</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
        
  </section>
</header>

<style>

.navbar {
    padding: 0;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.0);
}

.navbar a { 
    padding: 10px;
    margin: 10px;
    color: rgb(222, 222, 232);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4rem;
}

.dropdown-menu a {
    padding: 5px;
    margin: 5px;
    color:rgb(5, 5, 51);
}
   
.dropdown-menu a:hover {
    background-color:rgb(165, 165, 187);
    margin: 0;
    
}

.navbar-toggler {
  background-color: rgb(165, 165, 187);
}
</style>