<header>
  <section>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid p-0">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Location</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menus
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/src/layouts/lunchmenu.astro">Lunch Menu</a></li>
                <li><a class="dropdown-item" href="/public/img/evening.png">Evening Menu</a></li>
                <li><a class="dropdown-item" href="/public/img/brunch.png">Brunch Menu</a></li>
                <li><a class="dropdown-item" href="/public/img/sunday.png">Sunday Menu</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
  </section>
</header>

<style>

.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.0);
    padding-right: 80px;
    padding-top: 40px;

}

.navbar a { 
    color: rgb(222, 222, 232);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 20px;
}

.dropdown-menu a {
    color:rgb(5, 5, 51);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    align-items: center;
    text-align: center;
    padding: 5px;
}
   
.dropdown-menu a:hover {
    background-color:rgb(165, 165, 187);
    
}

.navbar-toggler {
  background-color: rgb(228, 228, 237);
  padding: 5px;


}

@media screen and (max-width:767px) {

.navbar a {
  font-size: 1rem;
}

.navbar-toggler {
  width: 8%
}

.nav-link {
  

} 
</style>