<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 p-4">
        <div class="card-body p-2">
           <h5 class="card-title">FURRY FRIENDS WELCOME!</h5>
           <p class="card-text m-3">Bring your PAWS and enjoy the pub vibes together!</p>
           <div class="card text-bg-light">
          <img src="/Merry-Cobbler-Project/img/frank4.jpg" class="card-img" alt="...">
        </div>
      </div>
    </div>
    <div class="col-md-4 p-0">
        <div class="card">
          <img src="/Merry-Cobbler-Project/img/sports.png" class="card-img" alt="...">
      </div>
    </div>
  </div>
</div>
</section>
<style>


.container-fluid {
    background-color: rgba(20,22,41,1);
    padding:0;
    margin-top: 10%
;
}
   
.card-body {
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  
}

.row {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}


h5, p {
    font-size: 2.5rem;
    font-family: "Prosto One", sans-serif;
    font-weight: 600;
    font-style:normal;
    color:rgba(20,22,41,1);
    text-align: center;
}

p {
    font-size: 1.5rem;
}

@media screen and (max-width:1024px) {

h5 {
    font-size: 1.5rem;
 }

 p {
    font-size: 1rem;
}

}

@media screen and (max-width:768px) {

.container-fluid {
    padding: 0;
    
}

 h5 {
    font-size: 1.2rem;
    
 }

p {
    font-size: 0.8rem;
}

}
</style>