<section>
    <div class="container">
    <div class="card my-0" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="img/frank3.jpg" class="img-fluid rounded-start" alt="image of a dog">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">FURRY FRIENDS WELCOME!</h5>
              <p class="card-text">Bring your PAWS and enjoy the pub vibes together!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<style>

.container {
    
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
  

}

.row {
    background-color: rgba(20,22,41,255);
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


h5 {
    font-size: 2rem;
    font-family: "Prosto One", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#ffffff;
    padding: 0;
    text-align: center;
}

p {
    font-size: 1rem;
    font-family: "Prosto One", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#ffffff;

    padding: 0;
    text-align: center;
}

@media screen and (max-width:767px) {

.img-fluid {
 height: 20vh;
object-fit: cover;
}

 h5 {
    font-size: 1.5rem;
 }

p {
    font-size: 1rem;
}

}
</style>