---
---

<div class="container-fluid">
    <div class="row">
        <h1>"Sundays just got better — grab our Roast Beef and 1/2 Roast Chicken specials every week!"</h1>
    </div>
</div>


<style>

.container-fluid {
    background-color: rgba(20,22,41,255);
    
}

h1 {
    font-size: 2rem;
    font-family: "Prosto One", sans-serif;
    font-weight: 200;
    font-style: normal;
    color:#ffffff;
    padding: 0;
    margin: 20px;
    text-align: center;
}


</style>