---
---

<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-12">
        <h1>"Sundays just got better — grab our Roast Beef and 1/2 Roast Chicken specials every week!"</h1>
    </div>
    </div>
</div>


<style>

.container-fluid {
    background-color: rgba(20,22,41,1);
    padding: 20px 0;
    margin-top: 7%;
    margin-bottom: 7%;
}

.row {
    margin: 0;

}

h1 {
    font-size: 2rem;
    font-family: "Prosto One", sans-serif;
    font-weight: 200;
    font-style: normal;
    color:#ffffff;
    margin: 0;


}

@media screen and (max-width:767px) {

.container-fluid {
    padding: 10px 0;
    margin-top: 20%;
    margin-bottom: 20%;
   
}

 h1 {
    font-size: 1.3rem;
    text-align: center;
    
 }
}
</style>