---

---

<section>

<div class="container my-0">
  <div class="main-title text-center">
            <h1>Meet our staff </h1>
        </div>
  <div class="row justify-content-center g-5">
    <div class="col my-0">
      <div class="border-primary-subtle">
        <img src="/public/img/staff1.jpg" class="img-fluid rounded-5" alt="image of staff member">
    </div>
    </div>
    <div class="col my-0">
      <div class="border-primary-subtle">
        <img src="/public/img/staff3.jpg" class="img-fluid rounded-5" alt="image of staff member">
    </div>
    </div>
    <div class="col my-0">
      <div class="border-primary-subtle">
        <img src="/public/img/staff3.jpg" class="img-fluid rounded-5" alt="image of staff member">
    </div>
    </div>
    <div class="row justify-content-center g-5">
    <div class="col">
      <div class="border-primary-subtle">  
        <img src="/public/img/staff2.jpg" class="img-fluid rounded-5" alt="image of staff member">
    </div>
    </div>
    <div class="col">
      <div class="border-primary-subtle">  
      <img src="/public/img/chris.jpg" class="img-fluid rounded-5" alt="image of staff member">
      </div>
    </div>
    <div class="col">
      <div class="border-primary-subtle">  
      <img src="/public/img/staff4.jpg" class="img-fluid rounded-5" alt="image of staff member">
    </div>
    </div>
  </div>
</div>
</div>
</div>

</section>

<style>
 row-cols-2 row-cols-md-3 g-2


.col {
  margin: 0;
  padding: 0;

  
}

.row {
  margin: 0;
  text-align: center;
  

}

h1 {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 3rem;
  font-family: "Prosto One", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgba(20,22,41,255);
  justify-content: center;
}

.card {
  max-width: 60%;

}


@media screen and (max-width:767px) {

h1 {
font-size: 1.5rem;

}

}




</style>