<div class="container-fluid lg px-0">
    <div class="row align-items-center">
        <div class="col">
            <img src="/public/img/" class="float-start" alt="picture of a dog">
        </div>
         <div class="col">
            <h1>Meet our Staff!</h1><br>
    </div>
</div>
</div>