---

---

<section>

<div class="container-fluid">
  <div class="main-title text-center">
            <h1>Meet our staff </h1>
        </div>
  <div class="row row-cols-2 row-cols-md-3 g-4">
    <div class="col">
      <div class="card border-warning border-2">
        <img src="/public/img/chris.jpg" class="card-img" alt="image of staff member">
    </div>
    </div>
    <div class="col">
      <div class="card border-warning border-2">
        <img src="/public/img/staff1.jpg" class="card-img" alt="image of staff member">
    </div>
    </div>
    <div class="col">
      <div class="card border-warning border-2">  
        <img src="/public/img/staff2.jpg" class="card-img" alt="image of staff member">
    </div>
    </div>
    <div class="col">
      <div class="card border-warning border-2">  
      <img src="/public/img/staff3.jpg" class="card-img" alt="image of staff member">
      </div>
    </div>
    <div class="col">
      <div class="card border-warning border-2">  
      <img src="/public/img/staff4.jpg" class="card-img" alt="image of staff member">
    </div>
    </div>
    <div class="col">
      <div class="card border-warning border-2">  
      <img src="/public/img/staff3.jpg" class="card-img" alt="image of staff member">
    </div>
    </div>
  </div>
</div>

</section>

<style>

.col{
  background-color: #05010c;
  
 
}

.card {
  width: 30vh;
}


h1 {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 3rem;
  font-family: "Prosto One", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgba(20,22,41,255);
}


@media screen and (max-width:767px) {

h1 {
font-size: 1.5rem;
}

}




</style>