---

---

<section>

<div class="container">
  <div class="main-title text-center">
            <h1>Meet our staff </h1>
        </div>
  <div class="row row row-cols-2 row-cols-md-3 justify-content-center g-2">
    <div class="col">
      <div class="border-primary-subtle">
        <img src="/Merry-Cobbler-Project/img/staff4.jpg" class="img-fluid rounded-5" alt="image of staff member">
    </div>
    </div>
    <div class="col">
      <div class="border-primary-subtle">
        <img src="/Merry-Cobbler-Project/img/chris.jpg" class="img-fluid rounded-5" alt="image of staff member">
    </div>
    </div>
    <div class="col">
      <div class="border-primary-subtle">
        <img src="/Merry-Cobbler-Project/img/staff2.jpg" class="img-fluid rounded-5" alt="image of staff member">
      </div>
    </div>
    <div class="col">
      <div class="border-primary-subtle">  
        <img src="/Merry-Cobbler-Project/img/jimmy.jpg" class="img-fluid rounded-5" alt="image of staff member">
    </div>
    </div>
    <div class="col">
      <div class="border-primary-subtle">  
      <img src="/Merry-Cobbler-Project/img/staff3.jpg" class="img-fluid rounded-5" alt="image of staff member">
      </div>
    </div>
    <div class="col">
      <div class="border-primary-subtle">  
      <img src="/Merry-Cobbler-Project/img/staff1.jpg" class="img-fluid rounded-5" alt="image of staff member">
    </div>
    </div>
</div>
</section>

<style>
 


.col {
  margin: 0;
  padding: 10px;

  
}

.row {
  margin: 0;
  text-align: center;
  

}

.img-fluid {
  width: 300px;
}

h1 {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 3rem;
  font-family: "Prosto One", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgba(20,22,41,255);
  justify-content: center;
}

.card {
 

}


@media screen and (max-width:768px) {


h1 {
font-size: 1.8rem;

}

}




</style>